@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма оформления покупки</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.Hidden("BookId", @ViewBag.BookId as string)

        <p>Введите свое имя: </p>

        @Html.TextBox("Person", "Введите имя")

        <p>Введите адрес :</p>
        
        @Html.TextBox("Addres", "Введите адрес")
        
        <p><input type="submit" value="Отправить" /></p>
       
    }
</div>
