
@{
    ViewBag.Title = "IndexAjax";
}

<div>
    <div></div>
    <div id="bestbook">
        @Ajax.ActionLink("Лучшая книга","BestBook",
            new AjaxOptions {UpdateTargetId = "bestbook"})
    </div>
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions
    {
        UpdateTargetId = "results",
        Confirm = "Выполнить запрос ?",
        LoadingElementId = "loading",
        LoadingElementDuration = 5000
    }))
    {
        <input type="text" name="name"/>
        <input type="submit" value="Поиск"/>
    }

    <img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="display: none;"/>


    <div id="results"></div>
</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js") 
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js") 



